@model FirstInFirstAid.Models.EventSegment

@using (Html.BeginCollectionItem("EventSegment"))
{
    <tr>
        <td>
           @Html.TextBoxFor(m => m.EndTime)
        </td>
        <td>
            @Html.TextBoxFor(m => m.StartTime)
        </td>
        <td>
            @Html.TextBoxFor(m => m.Hours)
        </td>
        <td>
            @Html.TextBoxFor(m => m.RequiredNumberOfstaff)
        </td>
        <td>
            <span class="glyphicon glyphicon-trash action-icon" data-action="removeItem"></span>
        </td>


    </tr>
}
