@model IEnumerable<FirstInFirstAid.Models.Venue>

@{
    ViewBag.Title = "Venues";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 class="page-header" >Venues</h3>


@Html.ActionLink("Create New", "Create", new { }, new { @class = "btn btn-success" })
<div class="container-fluid">
    <div class="row">
        <table class="table">
            <tr>
                <th>
                    Venue Name
                </th>
                <th>
                    Actions
                </th>
            </tr>

            @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.VenueName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-primary" }) |
                    <!--@Html.ActionLink("Details", "Details", new { id=item.Id }) |-->
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
                </td>
            </tr>
    }

        </table>
    </div>

</div>


