#jumb1 {
    background-color: #88c87b;
}

#jumb2 {
    background-color: #ff8454;
}

#jumb3 {
    background-color: #f0cd3a;
}



a {
    font-size: 16px;
}


#dashboard h2 {
    text-align: center;
}



.custom-combobox {
    position: relative;
    display: inline-block;
}

.custom-combobox-toggle {
    position: absolute !important; 
    top: 0 !important;
    bottom: 0 !important;
    margin-left: -1px !important;
    padding: 0 !important;
}

.custom-combobox-input {
    margin: 0;
    padding: 5px 10px;
}

.ui-button{
    background:#fff;
    border:none;
}
