/****** LOGIN MODAL ******/

body {
    background-color: #000;
    font-family: 'Open Sans';
}

.login{
    margin-top:100px;
}

.login-header{
    color:#fff;
    font-size:30px;
    text-align: center;
}

.login-subheader {
    text-align: left;
    color: #fff;
    font-size: 22px;
    font-family: 'Open Sans';
}

h3{
    font-size:22px;
    margin:0px !important;
}

.loginmodal-container {
    padding: 0px;
    max-width: 550px;
    width: 100% !important;
    background-color: #F7F7F7;
    margin: 0 auto;
    overflow: hidden;
    font-family: roboto;
}

#Google{
    width:100px;
    height:40px;
    font-size:18px;
    align-content:center
}


.loginmodal-header {
    background-color: #008000;
    padding: 10px 20px;
    text-align: left;
}

.loginmodal-body {
    padding: 20px;
}

.loginmodal-footer {
    padding: 10px;

}

.login-help a {
    font-size: 14px;
    color:#808080;
}



