
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Oops Something went wrong</h2>

<h1 class="error">@ViewBag.StatusCode</h1>
<p>An error occurred, please try again or contact the administrator.</p>
